@font-face {
    font-family: 'MainFont';
    src: url(fonts/ShareTech-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(15 , 15, 15);
}

footer {
    background: rgb(15, 15, 15);
    height: auto;
    width: 100vw;

    position: absolute;
    bottom: 0;

    padding-top: 30px;
    padding-bottom: 30px;

    border-top: 1px solid rgb(194, 194, 194);

    font-family: "MainFont";
    color: rgb(194, 194, 194);
}

.centerContent {
    position: relative;
    top: 40%;
    margin: auto;
    width: 25%;

    font-family: "MainFont";
    font-stretch: expanded;

}

.centerContent h3{
    color: rgb(194, 194, 194);
    font-size: 2.5rem;
    text-align: center;
    letter-spacing: 15px;
    font-weight: 100;
    transition: 0.3s;
}

.centerContent h3:hover{
    color: rgb(215,215,215);
}

.footerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footerContent h3 {
    font-size: 1.8rem;
    font-weight: 200;
    text-transform: capitalize;
    line-height: 3rem;
}

.footerContent h3:hover{
    color:rgb(255,255,255);
}

.footerContent p:hover{
    color:rgb(228, 228, 228);
}